version: '3'
services:
  caddy:
    image: caddy:latest
    container_name: "{{ libremesh_community }}_{{libremesh_community_recipe}}_firmwares"
    restart: unless-stopped
    ports:
      - "{{ openwrt_firmware_selector_port }}:80"
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile
      - ./firmware-selector-openwrt-org/www:/srv/selector
